@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jaro', sans-serif;
}

body {
    background-image: url(../css/img/papel\ de\ parede\ vaporwave.jpg);
    background-
}

#menu-h{
    display: flex;
    justify-content: center;
}

#menu-h ul{
    list-style: none;
    padding: 0;
    background: rgb(199,157,10);
background: linear-gradient(90deg, rgba(199,157,10,1) 0%, rgba(195,0,226,1) 64%, rgba(0,9,226,1) 100%);
}

#menu-h ul li {
    display: inline-block;
}

#menu-h ul li a {
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}

#menu-h ul li a:hover {
    background-color: rgba(240, 248, 255, 0.274);
    color: black;
}

.conteudo-home{
    margin: 150px;
    background-color: rgba(137, 43, 226, 0.541);
}

h1#apresentacao{
    text-align: center;
    color: aliceblue;
    font-size: 60px;
    font-family: 'Anonymous Pro',sans-serif;
}

h2#apresentacao2{
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    font-family: 'Anonymous Pro', sans-serif;
}