@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jaro', sans-serif;
}

html body {
    height: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

body {
    background-image: url(../css/img/papel\ de\ parede\ vaporwave.jpg);
    background-
}

#menu-h{
    display: flex;
    justify-content: center;
}

#menu-h ul{
    list-style: none;
    padding: 0;
    background: rgb(199,157,10);
background: linear-gradient(90deg, rgba(199,157,10,1) 0%, rgba(195,0,226,1) 64%, rgba(0,9,226,1) 100%);
}

#menu-h ul li {
    display: inline-block;
}

#menu-h ul li a {
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}

#menu-h ul li a:hover {
    background-color: rgba(240, 248, 255, 0.274);
    color: black;
}

.conteudo-home{
    margin: 150px;
    margin-top: 100px;
    padding: 100px;
    background-color: #892be28a;
}

h1#apresentacao{
    text-align: center;
    color: aliceblue;
    font-size: 60px;
    font-family: 'Anonymous Pro',sans-serif;
}

h2#apresentacao2{
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    font-family: 'Anonymous Pro', sans-serif;
}

.container {
    width: 300px;
    padding: 16px;
    background-color: #892be28a;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(222 0 223);
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container label {
    display: block;
    margin-bottom: 5px;
}

.container input[type="text"],.container input[type="tel"],.container input[type="email"],.container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #45a049;
}